<% unless locals.empty? %>
  <%= message %>
<% end %>
<h1>Landmarks: <%= @landmark.name %></h1>
<h3>Year Completed: <%= @landmark.year_completed %></h3>
<% if @landmark.figure_id != nil %>
<h3>Figure: <%= @landmark.figure.name %></h3>
<% end %>
<a href="/landmarks/<%=@landmark.id%>/edit">Edit Me</a>
