<h1>Create a new Figure</h1>
<form method="POST" action="/figures">
  <p>Figure Name: <input type="text" name="figure[name]" id="figure_name"></p>
  <br/>
  <p>Titles</p>
  <%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" id="<%=title.id%>" value="<%=title.id%>"><%=title.name%></input>
  <%end%>
  <br/>
  <p>Landmarks</p>
  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id%>"><%=landmark.name%></input>
  <% end %>
  <br/>
  <p>Create a new Title or Landmark</p>
  <p>Title: <input type="text" name="title[name]" id="new_title"></p>
  <p>Landmark: <input type="text" name="landmark[name]" id="new_landmark"></p>
  <input type="submit" value="Create New Figure">
</form>